<head>

  <meta charset="UTF-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Nuklei - {{ page.title }}</title>
  <link rel="canonical" href="{{ page.url }}" />
  <link rel="icon" href="/img/favicon.ico">

  <link href='http://fonts.googleapis.com/css?family=Exo+2:400,300,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/pygments.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/syntax.css">

  {% comment %}
  IE8 and lower need JQuery to be loaded in the <head>, but we prefer
  to load it in the footer in other browsers for performance.
  HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries.
  {% endcomment %}
  <!--[if lt IE 9]>
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.js"></script>
  <![endif]-->

</head>

